<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
         <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script src="http://localhost:8080/Lesson04/js/changePassword.js?dateTime=20230921120048" ></script>
    <title>パスワード変更画面</title>

    </head>
    <body style="text-align: center;">
             
        <h1 class="m-3">パスワード変更画面</h1>
        <hr>
        
    <form th:object="${changePasswordForm}" th:action="@{/changePassword}" method="post">
    	<p class="mt-2">現パスワード： <input type="text" th:field="${changePasswordForm.currentPass}" /></p>
    	<p>新パスワード： <input type="text" th:field="${changePasswordForm.newPass}" /></p>
    	<p>新パスワード（確認）： <input type="text" th:field="${changePasswordForm.newPassKknn}" /></p>
    	<p>ハッシュ化回数： <input type="text" th:field="${changePasswordForm.HashCount}" /></p>
    	
          <button type="button" class="btn btn-primary" id="changePassBtn" name="changePassBtn" onclick="changePass();">パスワード変更</button>
          
          
            <!-- エラーメッセージの一覧表示 -->
            <p class="text-danger mt-2" th:text="${msg}"></p>
    </form>
    
    </body>
    <!--  【実装内容
            現パスワード<p class="mt-2" th:text="${password}"></p>
１）パスワード変更画面を作成し、画面中央上部にタイトルとして「パスワード変更画面」を表示する。
　画面中央中部に現パスワードのテキストボックス、新パスワードのテキストボックス、新パスワード（確認）のテキストボックスを配置する。
　画面中央下部にハッシュ化回数のテキストボックスとパスワード変更ボタンを配置する。
２）現パスワードのテキストボックスに現在のパスワードを入力し、新パスワードのテキストボックスに新しいパスワードを入力して、
　新パスワード（確認）のテキストボックスに新しいパスワードを入力し、ハッシュ化回数のテキストボックスに数値を入力し、変更ボタンを押下する
　　①ユーザーマスタを社員IDで検索しデータを取得する。そのデータの削除フラグが「9：初期フラグ」の場合
　　　　a）新パスワードと新パスワード（確認）の内容が一致しない場合はエラーメッセージを表示する
　　　　b）ハッシュ化回数が数値でない場合はエラーメッセージを表示する
　　②ユーザーマスタを社員IDで検索しデータを取得する。そのデータの削除フラグが「0：未削除」の場合
　　　　a）取得したパスワードと現パスワードの内容が一致しない場合はエラーメッセージを表示する
　　　　b）現パスワードと新パスワードの内容が一致する場合はエラーメッセージを表示する
　　　　c）新パスワードと新パスワード（確認）の内容が一致しない場合はエラーメッセージを表示する
　　　　d）ハッシュ化回数が数値でない場合はエラーメッセージを表示する
　　　　e）パスワード履歴テーブルを社員IDで検索し、パスワードのリストを取得する。パスワードのリストが新パスワードと一致する場合はエラーメッセージを表示する
３）　２）①と２）②でエラーとならなかった場合、新パスワードの内容をハッシュ化回数分だけハッシュ化し、ユーザーマスタのパスワードを更新する。
　　　その際、削除フラグが「9：初期フラグ」の場合は削除フラグを「0：未削除」に更新する
　　　またパスワード履歴テーブルに社員ID、連番＋１の値、ハッシュ化した新パスワードで登録する。
４）メニュー画面を作成し、ルーム作成ボタン、ルーム一覧ボタン、パスワード変更ボタンを配置する
    -->
</html>

